
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:2000/graphql
NEXT_PUBLIC_API_URL=http://localhost:2000
NEXT_PUBLIC_WS_URL=ws://localhost:2000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
# Kakao — Web platform: http://localhost:3000 (yarn dev) yoki http://localhost:4000 (docker)
NEXT_PUBLIC_KAKAO_JS_KEY=
